<div class="page-header">
  <h1>Employees</h1><br><%= page_entries_info @employees %><p class="pull-right"><%= link_to 'Add', new_employee_path, class: "btn btn-primary btn-sm" %></p>
</div>
  
    <div class="row">
      <div class="col-sm-9">
        <table class="table table-hover info-list">
          <thead>
            <tr>
            	<th>Tags</th>
            	<th>First Name</th>
              <th>Last Name</th>
              <th>Barcode ID</th>
            </tr>
          </thead>

          <tbody>
            <% @employees.each do |employee| %>
              <tr>
                <td><%= raw employee.tag_list.map { |t| link_to t, tag_path(t)}.join(', ') %></td>
                <td><%= employee.first_name %></td>
                <td><%= employee.last_name %></td>
                <td><%= employee.barcode %></td>
                <td></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
<p><%= paginate @employees, :theme => 'twitter-bootstrap-3' %></p>