<div class="page-header">
  <h1>Transactions</h1>
</div>

	<%= form_for @issuance do |f| %>
		<% if @issuance.errors.any? %>
	    <div id="error_explanation" class="bit-warning">
	      <h2><%= pluralize(@issuance.errors.count, "error") %> prohibited this transaction from being saved:</h2>

		    <ul>
		     <% @issuance.errors.full_messages.each do |message| %>
		      <li><%= message %></li>
		     <% end %>
		    </ul>
	    </div>
	 	<% end %>

		<div class="form-group">
			<%= f.label :issued_at, "Issued On" %>
			<%= f.text_field :issued_at, :value => Time.now.in_time_zone("Eastern Time (US & Canada)"), class: "form-control" %>
		</div>
		<div class="form-group">
			<%= f.label :employee_id %>
			<%= f.text_field :employee_id, class: "form-control", :placeholder => "Scan Employee Barcode", autofocus: true %>
		</div>
		<div class="form-group">
			<%= f.label :tool_id %>
			<%= f.text_field :tool_id, class: "form-control", :placeholder => "Scan Tool Barcode", autofocus: true %>
		</div>
		<div class="form-group">
			<%= f.label :due_date %><br>
			<%= f.date_select :due_date, class: "form-control" %>
		</div>
		<div class="form-group">
			<%= f.label :returned_at %><br>
			<%= f.date_select :returned_at, class: "form-control" %>
		</div>

	
		<div class="from-group">
			<%= link_to "Add item", class: "btn btn-success" %>  <%= f.submit "submit", class: "btn btn-primary" %> 
		</div>
	<% end %>

<div>
	
</div>







