<div class="page-header">
	<h2>Personal Information</h2>
</div>

<%= form_for @user, url: wizard_path do |f| %>
	<div class="col-md-6">
		<div class="form-group">
			<%= f.label :first_name %>
			<%= f.text_field :first_name, class: "form-control" %>
		</div>
		<div class="form-group">
			<%= f.label :last_name %>
			<%= f.text_field :last_name, class: "form-control" %>
		</div>
		<div class="form-group">
			<%= f.submit "Next", class: "btn btn-primary" %>
		</div>
	</div>
<% end %>

